<h3>
    {{viewTitle}}
</h3>

<form autocomplete="off" action="/employee" method="POST">
    <input type="hidden" name="_id" value="{{employee._id}}">
    <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text" name="fullName" class="form-control" placeholder="Full Name" value="{{employee.fullName}}">
        <div class="text-danger">
            {{employee.fullNameError}}
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" class="form-control" placeholder="Email" value="{{employee.email}}">
        <div class="text-danger">
            {{employee.emailError}}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="mobile">Mobile</label>
            <input type="text" name="mobile" class="form-control" placeholder="Mobile" value="{{employee.mobile}}">

        </div>
        <div class="form-group col-md-6">
            <label for="city">City</label>
            <input type="text" name="city" class="form-control" placeholder="City" value="{{employee.city}}">

        </div>
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>&nbsp;
        <a href="/employee/list" class="btn btn-secondary "><i class="fa fa-list"></i> Employee List</a>

</form>